:root {
    --back-color: white;
    --first-color: rgb(69, 40, 200);/*rgb(99, 232, 173); rgb(69, 23, 173);*/
    --second-color: rgb(69, 40, 200);/*rgb(211, 211, 211);*/
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--back-color);
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    font-family: 'Chakra Petch', sans-serif;
    color: white;
}

header {

}

main {
    display: grid;
    padding: 4vh;
    gap: 4vh;
    grid-template-columns: repeat(auto-fit, minmax(460px, 2fr));
}

.left {
    width: 100%;
    height: 91.2vh;

    display: block; /**/
    background-color: var(--first-color);
    text-align: center;
    font-weight: 600;
}

.left h1 {
    margin-top: 11.8vh;
    font-size: 6vh;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vh;
    
}

nav a {
    width: 50%;
    background-color: var(--first-color);
    margin: 0 auto;
    margin-top: 6vh;
    list-style: none;

    color: white;
    text-decoration: none;
    
}

nav a:hover {
    background-color: rgb(83, 51, 228);
}

nav a img {
    padding-top: 12%;
    height: 48px;
    width: 48px;
    filter: invert(100%);
}

.right {
    width: 100%;
    height: 91.2vh;
    text-align: center;

    display: flex; /**/
    align-items: center; /**/
    justify-items: center; /**/
    background-color: var(--second-color);
    
    font-weight: 300;
}

.right .text {
    margin: 0 auto;
    font-size: 2.4vh;
    padding: 4vh;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vh;
    
}

.block_1 {
    width: 90%;
    margin: 0 auto;
    padding: 2vh;
    background-color: rgb(83, 51, 228);
    text-align: center;
    list-style: none;
}

.block_1 li {
    padding: 0.8vh;
}